/* start breadcrum */
.h00-17h001 {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem 0;
}
.h00-17h001>div {
  display: flex;
  overflow: scroll;
}
.h00-17h001>div::-webkit-scrollbar {
  display: none;
}
.h00-17h001>div {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.h00-17h001>div span {
  white-space: nowrap;
}

.h00-17h001 img {
  margin-right: 0.4rem;
  width: 20px;
}
/* end breadcrum */
.cty-trch-nhim {
    font-size: var(--font-size-13xl);
    font-weight: 600;
    text-align: center;
  }
  .chuyn-phn-sn,
  .cty-trch-nhim {
    position: relative;
  }
  .cty-trch-nhim-hu-hn-bqsoft-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .sn-jotun-cao {
    margin-bottom: false;
  }
  .sn-jotun-cao-cp-jotashield-c {
    margin: 0;
    padding-left: var(--padding-8xl);
  }
  .sn-jotun-cao-container,
  .vi-kinh-nghim {
    font-weight: 300;
    display: inline-block;
  }
  .sn-jotun-cao-container {
    width: 100%;
    letter-spacing: 0.01em;
    line-height: 134.02%;
  }
  .vi-kinh-nghim {
    width: calc(100% - 1.23px);
    top: 0;
    left: 0.08rem;
    font-size: var(--font-size-xl);
    font-family: var(--font-inter);
    height: 4.13rem;
  }
  .sn-jotun-cao-cp-jotashield-c-parent {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .frame-parent9 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2.75rem;
  }
  .frame-item {
    position: relative;
    width: 30%;
    height: 15.54rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.38rem;
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht1 {
    color: var(--main-color);
  }
  .crumb-item {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb2,
  .crumb3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb3 {
    align-self: stretch;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb2 {
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .about-company-content {
    align-self: stretch;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
    margin-bottom: var(--margin-top-footer);
  }
  .about-company {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  