.clock-icon5 {
    position: relative;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .h00-17h005 {
    position: relative;
    font-weight: 300;
    white-space: nowrap;
    color: #fff;
  }
  .clock-parent3 {
    height: 1.06rem;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .calendar-parent3,
  .clock-parent3,
  .frame-parent41 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .frame-parent41 {
    height: 1.38rem;
    flex-shrink: 0;
    gap: var(--gap-lg);
  }
  .menu-item15 {
    border-right: 1px solid var(--color-white);
    padding: 0 var(--padding-4xs);
    justify-content: center;
  }
  .menu-item-parent3,
  .menu-item15,
  .menu-item17,
  .top-menu5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .menu-item17 {
    padding-left: var(--padding-4xs);
    justify-content: center;
  }
  .menu-item-parent3,
  .top-menu5 {
    justify-content: flex-start;
  }
  .top-menu5 {
    align-self: stretch;
    border-bottom: 0.5px solid var(--color-white);
    padding: var(--padding-6xs) 0;
    align-items: center;
    justify-content: space-between;
  }
  .logo10 {
    position: relative;
  }
  .logo10 {
    color: #fff;
  }
  .bo-gi-thi-cng-sn-wrapper3 {
    border-radius: var(--br-9xs);
    background-color: var(--red);
    box-shadow: 8px 8px 2px #583b3b;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-29xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .map-pin-icon5 {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .th-l-5 {
    color: var(--color-white);
  }
  .map-pin-parent3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .phone-call-icon10 {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .frame-parent43 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
    font-size: var(--font-size-xl);
    color: var(--red);
  }
  .frame-parent42,
  .menu-inner4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .frame-parent42 {
    justify-content: flex-start;
    gap: var(--gap-mid);
    padding: 0.7rem 0;
  }
  .menu-inner4 {
    align-self: stretch;
    flex: 1;
    justify-content: center;
    font-size: var(--font-size-5xl);
  }
  .header-inner5,
  .menu5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menu5 {
    align-self: stretch;
    flex-shrink: 0;
    flex-direction: row;
    gap: var(--gap-5xl);
    font-size: var(--font-size-29xl);
  }
  .header-inner5 {
    flex-direction: column;
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .header5 {
    align-self: stretch;   
    position: sticky;
    top: 0;
    z-index: 23;
    background-color: var(--main-blue);
    flex-shrink: 0;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    padding: 0 var(--padding-side);
  }
  .right-menu-item {
    white-space: nowrap;
  }
  .right-menu-item a {
    color: #fff;
  }