.banner-thumbnail-child {
  position: absolute;
  width: calc(100% - 0.22px);
  top: 0;
  right: 0.01rem;
  left: 0;
  height: 26.26rem;
  object-fit: cover;
}
.banner-thumbnail-child,
.banner-thumbnail-item {
  max-width: 100%;
  overflow: hidden;
}
.banner-thumbnail,
.banner-thumbnail-item {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.i-l-phn {
  margin: 0;
}
.i-l-phn-container {
  position: relative;
  font-size: 2.25rem;
  letter-spacing: 0.03em;
  line-height: 133.52%;
  font-weight: 600;
}
.cung-cp-sn {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
}
.lin-h-ngay {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 123.52%;
}
.lin-h-ngay-wrapper {
  position: absolute;
  top: 0.63rem;
  left: 0.63rem;
  border-radius: var(--br-17xl);
  background-color: var(--red);
  width: 13.87rem;
  height: 2.47rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-8xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.banner-content-inner {
  position: relative;
  width: 15.12rem;
  height: 3.72rem;
  flex-shrink: 0;
  display: none;
  text-align: center;
}
.banner-content {
  position: absolute;
  width: 37%;
  top: 50%;
  transform: translateY(-50%);
  left: 6.56rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.81rem;
  padding: 1.5rem 2rem;
  background: #0000004d;
  border-radius: 4px;
}
.banner-arrow-child {
  position: relative;
  width: 1.39rem;
  height: 2.51rem;
  flex-shrink: 0;
  cursor: pointer;
}
.banner-arrow {
  position: absolute;
  width: calc(100% - 2.81px);
  width: calc(100% - 2.81px);
    top: 50%;
  right: 0;
  left: 0;
  height: 2.56rem;
  display: flex;
  flex-direction: row;
  padding: 0 1.81rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.banner {
  align-self: stretch;
  position: relative;
  height: 26.31rem;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

/* slider for banner */
.slider{
  width:100%;
  margin:0 auto;
  position: relative;
  overflow: hidden;
}

.slide-inner>div{
  width:100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* slider for banner */

.paint-appendix {
  color: var(--red);
  width: 100%;
  margin: 1rem 0 0;
  font-size: var(--font-size-sm);
  padding: 1rem;
  border-radius: 4px;
  background: rgb(255 89 89 / 10%);
}
.paint-appendix>div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.paint-appendix>div p {
  margin: 0;
}
.group-child6,
.group-child7 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group-child7 {
  height: 104.55%;
  top: -2.27%;
  bottom: -2.27%;
  background-color: var(--color-white);
  border-top: 1px solid var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
  box-sizing: border-box;
}
.sn-ngoi-tht {
  color: var(--color-white);
  font-weight: 200;
}
.rectangle-parent10 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.category-right-head {
  height: 100%;
  width: 50%;
  background: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 0%);
}
.rectangle-parent10-inner {
  position: relative;
  height: 100%;
  width: 100%;
}
.paint-category-title {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 6px;
}
.vector-parent {
  position: relative;
  width: 100%;
  height: 4rem;
  flex-shrink: 0;
  display: flex;
  background: var(--main-color);
  padding: 2px;
  justify-content: space-between;
}
.frame-child12 {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.frame-child13 {
  position: relative;
  width: 3.44rem;
  height: 3.44rem;
  flex-shrink: 0;
}
.kg4 {
  display: flex;
  align-items: center;
}
.kg4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  justify-content: center;
}
.rectangle-parent11,
.sn-alex-ngoi4 {
  position: relative;
  width: 11.44rem;
  height: 10.69rem;
  flex-shrink: 0;
}
.sn-alex-ngoi4 {
  font-size: var(--font-size-base);
  color: var(--color-black);display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  height: var(--gap-21xl);
}
.sn-alex-ngoi4:hover {
  color: var(--main-color);
}
.product-specifications-color {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  width: 100%;
  margin-top: var(--padding-smi);
}
.product-specifications {
  width: 50%;
  background: var(--main-blue);
  white-space: nowrap;
}
.product-color {
  width: 50%;
  background: var(--main-color);
  white-space: nowrap;
}
.frame4 {
  width: 100%;
  background-color: var(--red);
  box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.frame-parent44,
.frame-parent45,
.frame-parent46,
.frame-parent47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 3;
  width: max-content;
}
.frame-parent45,
.frame-parent46,
.frame-parent47 {
  z-index: 2;
}
.frame-parent46,
.frame-parent47 {
  z-index: 1;
}
.frame-parent47 {
  z-index: 0;
}

/* slider by item */
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrap-navigate-slide {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  align-items: center;
  gap: 0.5rem;
}

.wrap-navigate-slide>div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  background: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrap-navigate-slide>div:hover {
  opacity: 0.8;
}

.wrap-navigate-slide img {
  width: var(--font-size-5xl);
  height: var(--font-size-5xl);
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 80%;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}
.wrap-search-product {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin-top: var(--margin-top-footer);
}
.search-product {
  position: relative;
  height: 43px;
  border-radius: 999px;
  border: 1px solid var(--main-blue);
  width: 400px;
  overflow: hidden;
}
.search-product input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 2.5rem 0 1rem;
  color: var(--main-blue);
}
.search-product input:focus-visible {
  outline: none;
}
.search-product img {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}
.wrap-search-product button {
  width: 82px;
  border: none;
  height: 43px;
  border-radius: 999px;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  font-size: 16px;
}
.wrap-search-product button:hover {
  opacity: 0.8;
}

/* slider by item */

.instance-container {
  align-self: stretch;
  height: 23.88rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  border: 2px solid var(--main-color);
  border-top: none;
}
.group-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}
.frame-child44 {
  align-self: stretch;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.bn-ang-cn,
.frame-child44,
.frame-child45 {
  position: relative;
  flex-shrink: 0;
}
.bn-ang-cn {
  font-weight: 700;
  display: inline-block;
  height: 2.89rem;
  color: var(--main-blue);
  text-shadow: 4px 2px 1px var(--main-color);
}
.frame-child45 {
  width: 4.26rem;
  height: 3.61rem;
  object-fit: cover;
}
.lin-h-ngay1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 123.52%;
  font-weight: 300;
}
.bn-ang-cn-sn-nh-parent,
.lin-h-ngay-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lin-h-ngay-container {
  border-radius: var(--br-17xl);
  background-color: var(--red);
  height: 2.47rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  z-index: 10;
}
.bn-ang-cn-sn-nh-parent {
  flex: 1;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-mid);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner-parent,
.frame-wrapper7,
.rectangle-parent30 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent30 {
  align-self: stretch;
  height: 17.13rem;
  flex-shrink: 0;
  align-items: center;
  position: relative;
}
.banner-parent,
.frame-wrapper7 {
  align-items: flex-start;
}
.frame-wrapper7 {
  align-self: stretch;
  flex-shrink: 0;
  padding: 6.44rem 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-blue);
}
.banner-parent {
  max-width: var(--maxwidth-1200);
  margin: 0 auto;
}
.homepage-inner {
  padding: 0 var(--padding-side);
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  color: var(--red);
  margin-top: 3rem;
}
.real-image-list-child {
  background-color: var(--light-silver-bold);
  max-width: var(--maxwidth-1200);
  margin: 0 auto;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.cc-loi-sn-1 {
  font-weight: 700;
}
.cc-loi-sn {
  font-weight: 700;
  color: var(--main-color);
}
.cc-loi-sn-jotun-wrapper {
  font-size: var(--font-size-13xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent60,
.mt-s-hnh {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.mt-s-hnh {
  font-size: var(--font-size-base);
  font-weight: 200;
  display: inline-block;
  z-index: 0;
}
.instance-parent4 {
  padding: 0.5rem 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  background: var(--main-color);
  z-index: 20;
  color: #fff;
  margin-top: -3rem;
  box-shadow: 7px 7px 1px #3b91b4;
}
.frame-child46,
.frame-child47 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child46 {
  align-self: stretch;
  max-height: 100%;
}
.frame-child47 {
  height: 12.94rem;
}
.frame-parent63,
.rectangle-parent32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.rectangle-parent32 {
  align-self: stretch;
  height: calc((100% - var(--gap-8xs)) / 2);
  flex-shrink: 0;
  flex-direction: row;
}
.frame-parent63 {
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.frame-parent62,
.frame-parent64,
.rectangle-parent31,
.rectangle-parent34 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.rectangle-parent31 {
  align-self: stretch;
  height: 66.6%;
  flex-shrink: 0;
  justify-content: center;
}
.frame-parent64  {
  height: 33.3%;
}
.frame-parent62,
.frame-parent64,
.rectangle-parent34 {
  justify-content: flex-start;
}
.rectangle-parent34 {
  flex: 1;
  height: 100%;
}
.frame-parent62,
.frame-parent64 {
  align-self: stretch;
}
.frame-parent62 {
  background-color: var(--color-white);
  height: 39.44rem;
  flex-shrink: 0;
  flex-direction: column;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.frame-parent62 img {
  height: 100%;
}
.xem-thm {
  position: relative;
  font-weight: 200;
}
.xem-thm a {
  color: #fff;
}
.arrow-right-icon {
  position: relative;
  width: 1.88rem;
  height: 1.5rem;
  flex-shrink: 0;
  overflow: hidden;
}
.xem-thm-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.44rem;
}
.frame-parent61,
.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-parent61 {
  align-self: stretch;
  height: 45.88rem;
  flex-shrink: 0;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--main-blue);
}
.image-list {
  width: 100%;
  justify-content: flex-start;
  gap: 6.19rem;
}
.real-image-list {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  padding-bottom: 2rem;
}
.frame-parent65 {
  position: absolute;
  top: 0;
  left: 3.75rem;
  width: 19.25rem;
  height: 3.28rem;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.bng-bo-gi {
  margin-top: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.bng-bo-gi-thi-cng-sn-v-t-parent {
  position: relative;
  flex-shrink: 0;
  padding: 0.5rem 2rem;
  background: var(--main-blue);
  width: 100%;
}
.baogia1-1-icon,
.baogia1-2-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.baogia1-1-parent,
.group-parent9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.baogia1-1-parent {
  align-self: stretch;
  align-items: flex-start;
}
.baogia1-1-parent,
.baogia1-2-parent {
  border: 4px solid var(--main-blue);
}
.group-parent9 {
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  gap: 3.88rem;
}
.frame-wrapper8,
.frame-wrapper9 {
  position: relative;
  top: 0;
}
.frame-wrapper9 {

}
.frame-wrapper8 {
  max-width: 1200px;
  margin: 0 auto;
}
.polygon-parent {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.price-table-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 3rem;
}
.price-table-content h3 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: var(--red);
  padding: 0.8rem 3rem;
  border-width: 4px;
  border-color: var(--red);
  border-style: double;
  text-align: center;
}
.price-table-content p {
  color: var(--main-blue);
  text-align: center;
}
.price-table {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-side);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.75rem;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  margin: 5rem 0 6rem;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
