/* start breadcrum */
.h00-17h003 {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem 0;
  gap: 10px;
}
.h00-17h003>div {
  display: flex;
  overflow: scroll;
  align-items: center;
  gap: 10px;
}
.h00-17h003>div::-webkit-scrollbar {
  display: none;
}
.h00-17h003>div {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.h00-17h003>div span {
  white-space: nowrap;
}
.h00-17h003>div span a {
  color: #000;
}
.h00-17h003 img {
  height: 13px;
}
/* end breadcrum */
.thi-cong-son-nha-4-1-icon {
    position: relative;
    width: 12.25rem;
    height: 7.94rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .b-trng-nguyn,
  .tiu {
    position: relative;
  }
  .b-trng-nguyn {
    align-self: stretch;
    font-size: var(--font-size-base);
    font-weight: 200;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .thi-cong-son-nha-4-1-parent,
  .tiu-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tiu-parent {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs) 0;
  }
  .tiu-parent .tiu {
    margin-bottom: 0.8rem;
  }
  .tiu-parent .tiu a {
    color: #000;
  }
  .thi-cong-son-nha-4-1-parent {
    width: 100%;
    flex-direction: row;
    gap: var(--gap-base);
  }
  .frame-wrapper {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
    width: 48%;
    padding: 0.3rem 1rem;
    box-shadow: 1px 1px 5px #e0e7eb;
    border-radius: 4px;
    height: 8rem;
  }
  .component-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-mid);
  }
  .frame-wrapper6 {
    align-self: stretch;
    position: relative;
    height: 7.88rem;
    flex-shrink: 0;
  }
  .frame-parent25,
  .instance-parent {
    display: flex;
    justify-content: flex-start;
  }
  .instance-parent {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-mid);
  }
  .frame-parent25 {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-5xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht3 {
    color: var(--main-color);
  }
  .vector-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb6,
  .crumb7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb7 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb6 {
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .frame-parent24 {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
  }
  .news-list-child {
    width: 2.5rem;
    height: 0.06rem;
    overflow: hidden;
    margin-bottom: var(--margin-top-footer);
  }

  .news-list {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  