.cng-ngh-cht {
    letter-spacing: 0.01em;
    line-height: 134.02%;
    font-weight: 600;
  }
  .b-su-tp {
    text-decoration: underline;
  }
  .b-su-tp-mu-sc-a-dng-ca {
    color: inherit;
  }
  .tashield-l-mt-trong-nhng-s {
    margin-block-start: 0;
    margin-block-end: 16px;
  }
  .sn-jotun-cao1 {
    margin: 0;
  }
  .tashield-l-mt-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 134.02%;
    font-weight: 300;
    color: var(--font-inherit);
  }
  .cng-ngh-cht-to-mu-tin-ti-parent,
  .news-detail-content-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cng-ngh-cht-to-mu-tin-ti-parent {
    align-self: stretch;
    gap: var(--gap-mini);
  }
  .news-detail-content-inner {
    flex: 1;
    padding: 0.88rem 1.19rem;
  }
  .cc-sn-phm {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 17.36rem;
  }
  .title-sp-cungloai-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.03rem;
    flex-shrink: 0;
  }
  .title-sp-cungloai {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 17.61rem;
    height: 4.75rem;
  }
  .sn-jotun-cht {
    position: absolute;
    top: 1.46rem;
    left: 0;
    font-weight: 200;
  }
  .sn-jotun-p {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 11.7rem;
    height: 1.02rem;
  }
  .sn-jotun-cht-lng-vt-tri-parent {
    position: absolute;
    top: 0.06rem;
    left: 5.19rem;
    width: 11.7rem;
    height: 3.94rem;
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    width: 4.69rem;
    height: 4rem;
    object-fit: cover;
  }
  .group-container {
    position: absolute;
    top: 0.38rem;
    left: 0.39rem;
    width: 16.89rem;
    height: 4rem;
  }
  .rectangle-container {
    align-self: stretch;
    position: relative;
    height: 4.75rem;
    flex-shrink: 0;
  }
  .group-parent {
    width: 17.61rem;
    flex-direction: column;
    gap: 0.56rem;
    font-size: var(--font-size-sm);
    color: var(--color-black);
  }
  .group-parent,
  .news-detail-content,
  .title-sp-cungloai-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .title-sp-cungloai-parent {
    width: 17.69rem;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1.38rem;
    font-size: var(--font-size-5xl);
    color: var(--red);
  }
  .news-detail-content {
    position: absolute;
    width: calc(100% - 204px);
    top: 7.75rem;
    right: 6.38rem;
    left: 6.38rem;
    flex-direction: row;
    gap: var(--gap-21xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht2 {
    color: var(--red);
  }
  .crumb-inner {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb4,
  .crumb5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb5 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb4 {
    position: absolute;
    width: calc(100% - 204px);
    top: 3.06rem;
    right: 6.38rem;
    left: 6.38rem;
    font-size: var(--font-size-xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .news-detail-content-parent {
    align-self: stretch;
    height: 44rem;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
  }
  .news-detail {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  