/* start breadcrum */
.h00-17h002 {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem 0;
  gap: 10px;
}
.h00-17h002>div {
  display: flex;
  overflow: scroll;
  align-items: center;
  gap: 10px;
}
.h00-17h002>div::-webkit-scrollbar {
  display: none;
}
.h00-17h002>div {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.h00-17h002>div span {
  white-space: nowrap;
}
.h00-17h002>div span a {
  color: #000;
}
.h00-17h002 img {
  height: 13px;
}
/* end breadcrum */
.cng-ngh-cht {
    letter-spacing: 0.01em;
    line-height: 134.02%;
    font-weight: 600;
  }
  .table-of-content>ul {
    padding: 1rem;
    background: #ebedf0;
    border-radius: 4px;
    font-size: var(--font-size-xl);
  }
  .b-su-tp {
    text-decoration: underline;
  }
  .b-su-tp-mu-sc-a-dng-ca {
    color: inherit;
  }
  .tashield-l-mt-trong-nhng-s {
    margin-block-start: 0;
    margin-block-end: 16px;
  }
  .sn-jotun-cao1 {
    margin: 0;
  }
  .tashield-l-mt-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 134.02%;
    font-weight: 300;
    color: var(--font-inherit);
  }
  .cng-ngh-cht-to-mu-tin-ti-parent,
  .news-detail-content-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cng-ngh-cht-to-mu-tin-ti-parent {
    align-self: stretch;
    gap: 2rem;
  }
  .news-detail-content-inner {
    flex: 1;
  }
  .cc-sn-phm {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 17.36rem;
  }
  .title-sp-cungloai-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.03rem;
    flex-shrink: 0;
  }
  .title-sp-cungloai {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
    background: var(--main-color);
    padding: 0.5rem 0.8rem;
    color: #fff;
  }
  .sn-jotun-cht {
    line-height: 140%;
    font-weight: 200;
    margin-top: 0.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .sn-jotun-p {
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 11.7rem;
    height: 1.02rem;
  }
  .sn-jotun-p a {
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .sn-jotun-cht-lng-vt-tri-parent {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .rectangle-container:last-child .sn-jotun-cht-lng-vt-tri-parent {
    border-bottom: none;
  }
  .group-container {
    width: 100%;
    gap: 0.8rem;
  }
  .rectangle-container {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
  }
  .group-parent {
    width: 17.61rem;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    display: grid !important;
    grid-template-columns: auto;
  }
  .group-parent,
  .news-detail-content,
  .title-sp-cungloai-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .title-sp-cungloai-parent {
    width: 17.69rem;
    flex-shrink: 0;
    flex-direction: column;
    font-size: var(--font-size-5xl);
    color: var(--red);
    border: 1px solid var(--light-silver-bold);
  }
  .news-detail-content {
    flex-direction: row;
    gap: var(--gap-21xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht2 {
    color: var(--main-color);
  }
  .crumb-inner {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb4,
  .crumb5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb5 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb4 {
    font-size: var(--font-size-xl);
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .news-detail-content-parent {
    align-self: stretch;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
    margin-bottom: var(--margin-top-footer);
  }
  .news-detail {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  