.thi-cong-son-nha-4-1-icon {
    position: relative;
    width: 12.25rem;
    height: 7.94rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .b-trng-nguyn,
  .tiu {
    position: relative;
  }
  .b-trng-nguyn {
    align-self: stretch;
    font-size: var(--font-size-base);
    font-weight: 200;
    display: flex;
    align-items: flex-end;
  }
  .thi-cong-son-nha-4-1-parent,
  .tiu-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tiu-parent {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs) 0;
  }
  .thi-cong-son-nha-4-1-parent {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 7.94rem;
    flex-direction: row;
    gap: var(--gap-base);
  }
  .frame-wrapper {
    align-self: stretch;
    position: relative;
    height: 7.94rem;
    flex-shrink: 0;
  }
  .component-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mid);
  }
  .frame-wrapper6 {
    align-self: stretch;
    position: relative;
    height: 7.88rem;
    flex-shrink: 0;
  }
  .frame-parent25,
  .instance-parent {
    display: flex;
    justify-content: flex-start;
  }
  .instance-parent {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-mid);
  }
  .frame-parent25 {
    position: absolute;
    width: calc(100% - 204px);
    top: 8.19rem;
    right: 6.38rem;
    left: 6.38rem;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-5xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht3 {
    color: var(--red);
  }
  .vector-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb6,
  .crumb7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb7 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb6 {
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .frame-parent24 {
    align-self: stretch;
    position: relative;
    height: 48.5rem;
    flex-shrink: 0;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
  }
  .news-list-child {
    width: 2.5rem;
    height: 0.06rem;
    overflow: hidden;
  }

  .news-list {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  