/* start breadcrum */
.quy-cch-45kg {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem 0;
  gap: 10px;
}
.quy-cch-45kg>div {
  display: flex;
  overflow: scroll;
  align-items: center;
  gap: 10px;
}
.quy-cch-45kg>div::-webkit-scrollbar {
  display: none;
}
.quy-cch-45kg>div {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.quy-cch-45kg>div span {
  white-space: nowrap;
}
.quy-cch-45kg>div span a {
  color: #000;
}
.quy-cch-45kg img {
  height: 13px;
}
/* end breadcrum */
.vn4 {
  color: var(--main-color);
}
  .frame-child3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 11.44rem;
    height: 10.69rem;
    object-fit: contain;
  }
  .rectangle-parent5 {
    position: relative;
    width: 11.44rem;
    height: 10.69rem;
    flex-shrink: 0;
  }
  .sn-alex-ngoi {
    font-size: var(--font-size-base);
    line-height: 134.52%;
    color: var(--color-black);
    display: inline-block;
    width: 11.44rem;
    flex-shrink: 0;
  }
  .sn-alex-ngoi a {
    color: black;
  }
  .sn-alex-ngoi,
  .vn {
    position: relative;
  }
  .frame,
  .frame-parent33 {
    display: flex;
    align-items: center;
  }
  .frame-parent33 {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .instance-group {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .sp-cungloai-inner {
    width: calc(100% - 0.02px);
    margin: 1rem 0;
  }
  .cc-sn-phm1 {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 17.36rem;
  }
  .title-sp-cungloai-item {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.03rem;
    flex-shrink: 0;
  }
  .title-sp-cungloai1 {
    border-bottom: 1px solid var(--light-silver-bold);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: #fff;
    background: var(--main-color);
    padding: 0.5rem;
  }
  .sp-cungloai {
    position: relative;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
    border: 1px solid var(--main-color);
  }
  .sn-jotun {
    color: inherit;
  }
  .th-trng-vit-nam-hng-sn {
    margin: 0;
  }
  .sn-ngoi-tri-jotun-jotun-ess {
    margin-bottom: false;
  }
  .sn-ngoi-tri-jotun-jotashiel {
    margin: 0;
    padding-left: var(--padding-8xl);
  }
  .sn-jotun-ca {
    text-decoration: underline;
  }
  table {
    border-collapse: collapse;
  }
  table th,
  table td {
    border: 1px solid black;
    padding: 0.4rem 1rem;
  }
  .th-trng-vit-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .th-trng-vit-container {
    font-size: var(--font-inherit);
    font-weight: 300;
    font-family: var(--font-inherit);
    color: var(--font-inherit);
    max-width: var(--maxwidth-1200);
    margin: var(--padding-83xl) auto;
  }
  .th-trng-vit-container li {
    list-style-type: inherit;
  }
  .frame-child10 {
    position: relative;
    width: 30%;
    height: 300px;
    flex-shrink: 0;
    object-fit: contain;
  }
  .tn-sn-phm {
    font-weight: 600;
  }
  .jotun-interior-putty {
    font-weight: 400;
  }
  .quy-cch-45kg {
    position: relative;
    font-weight: 300;
  }
  .rectangle-parent9,
  .thongtin-sanpham {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
    width: 100%;
  }
  .rectangle-parent9 {
    flex-direction: row;
    gap: 2.69rem;
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .crumb-child1 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb8 {
    height: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .paint-detail-content {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
  }
  .paint-detail-child {
    width: 2.5rem;
    height: 0.06rem;
    overflow: hidden;
  }
  .paint-detail {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
    margin-bottom: var(--margin-top-footer);
  }

  .paint-more-info {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--main-color);
    width: max-content;
    padding: 0.5rem 2rem 0.5rem 0;
    font-weight: 200;
    color: var(--main-color);
  }
  