.clock-icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .clock-parent {
    height: 1.06rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .th-2- {
    position: relative;
    font-weight: 300;
  }
  .calendar-parent,
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .frame-parent {
    width: 23.63rem;
    height: 1.38rem;
    flex-shrink: 0;
    gap: var(--gap-lg);
  }
  .trang-ch {
    position: relative;
    font-weight: 200;
  }
  .menu-item {
    border-right: 1px solid var(--color-white);
    padding: 0 var(--padding-4xs);
    justify-content: center;
  }
  .menu-item,
  .menu-item-parent,
  .menu-item2,
  .top-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .menu-item2 {
    padding: 0 var(--padding-4xs);
    justify-content: center;
  }
  .menu-item-parent,
  .top-menu {
    justify-content: flex-start;
  }
  .top-menu {
    align-self: stretch;
    border-bottom: 0.5px solid var(--color-white);
    padding: var(--padding-6xs) 0;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    position: relative;
  }
  .bo-gi-thi-cng-sn-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--red);
    box-shadow: 8px 8px 2px #583b3b;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-29xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .map-pin-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .th-l- {
    color: var(--color-white);
  }
  .map-pin-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .phone-call-icon {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
    font-size: var(--font-size-xl);
    color: var(--red);
  }
  .frame-group,
  .menu-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .frame-group {
    justify-content: flex-start;
    gap: var(--gap-mid);
  }
  .menu-inner {
    align-self: stretch;
    flex: 1;
    justify-content: center;
    font-size: var(--font-size-5xl);
  }
  .header-inner,
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menu {
    align-self: stretch;
    height: 7.44rem;
    flex-shrink: 0;
    flex-direction: row;
    gap: var(--gap-5xl);
    font-size: var(--font-size-29xl);
  }
  .header-inner {
    position: absolute;
    width: calc(100% - 207px);
    top: 0;
    right: 6.5rem;
    left: 6.44rem;
    height: 9.69rem;
    flex-direction: column;
  }
  .header {
    align-self: stretch;
    position: relative;
    background-color: var(--main-blue);
    height: 9.69rem;
    flex-shrink: 0;
  }
  .component-child {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 21.13rem;
    object-fit: cover;
  }
  .cng-trnh {
    font-weight: 300;
  }
  .cng-trnh-khu-container,
  .m-t-thc,
  .thi-hn-hon {
    align-self: stretch;
    position: relative;
  }
  .m-t-thc,
  .thi-hn-hon {
    font-weight: 300;
  }
  .m-t-thc {
    flex: 1;
  }
  .cng-trnh-khu-vinpearl-nam-h-parent,
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cng-trnh-khu-vinpearl-nam-h-parent {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    gap: var(--gap-mid);
  }
  .rectangle-parent {
    flex-direction: row;
    gap: var(--gap-2xl);
  }
  .m-t-thc1 {
    align-self: stretch;
    position: relative;
    font-weight: 300;
    display: inline-block;
    height: 4.88rem;
    flex-shrink: 0;
  }
  .cng-trnh-khu-vinpearl-nam-h-group {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    align-items: flex-end;
    gap: var(--gap-mid);
  }
  .cng-trnh-khu-vinpearl-nam-h-group,
  .component-parent,
  .rectangle-group {
    display: flex;
    justify-content: flex-start;
  }
  .rectangle-group {
    width: 76.33rem;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-2xl);
  }
  .component-parent {
    position: absolute;
    width: calc(100% - 204px);
    top: 9.25rem;
    right: 6.38rem;
    left: 6.38rem;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-21xl);
  }
  .jotun-ngoi-tht {
    color: var(--red);
  }
  .crumb-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb,
  .crumb1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb1 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
  }
  .crumb {
    position: absolute;
    width: calc(100% - 204px);
    top: 3.81rem;
    right: 6.38rem;
    left: 6.38rem;
  }
  .frame-div {
    align-self: stretch;
    height: 82.75rem;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .footer-top-icon,
  .frame-div,
  .logo1 {
    position: relative;
    flex-shrink: 0;
  }
  .footer-top-icon {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 6.82rem;
  }
  .logo1 {
    display: inline-block;
    width: 8.63rem;
    height: 3.94rem;
  }
  .cty-tnhh-icol {
    position: relative;
    font-size: var(--font-size-5xl);
  }
  .frame-parent3,
  .frame-parent4,
  .logo-parent,
  .mail-parent,
  .phone-call-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent3,
  .frame-parent4,
  .mail-parent,
  .phone-call-group {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .frame-parent3,
  .frame-parent4,
  .phone-call-group {
    align-items: center;
  }
  .frame-parent3,
  .frame-parent4 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-mini);
    font-size: var(--font-size-xl);
  }
  .frame-parent3 {
    gap: var(--gap-xl);
    font-size: var(--font-size-29xl);
    color: var(--color-white);
  }
  .h-tr {
    position: relative;
    display: inline-block;
    width: 5.88rem;
  }
  .h-tr-parent,
  .khuyn-mi-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .khuyn-mi-parent {
    gap: var(--gap-5xs);
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .h-tr-parent {
    height: 8.56rem;
    gap: var(--gap-xl);
  }
  .fanpage,
  .frame-child {
    position: relative;
    flex-shrink: 0;
  }
  .fanpage {
    display: inline-block;
    width: 7.23rem;
    height: 1.79rem;
  }
  .frame-child {
    width: 15.81rem;
    height: 11.82rem;
    object-fit: cover;
  }
  .fanpage-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frame-parent2,
  .website-c-thit-k-bi-cty-wrapper {
    align-self: stretch;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
  }
  .frame-parent2 {
    border-bottom: 0.5px solid var(--color-white);
    box-sizing: border-box;
    height: 18.13rem;
    padding: var(--padding-5xl) 0 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .website-c-thit-k-bi-cty-wrapper {
    height: 3rem;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .footer-bottom,
  .frame-parent1 {
    align-self: stretch;
    height: 21.13rem;
    flex-shrink: 0;
  }
  .frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-bottom {
    background-color: var(--main-blue);
    padding: 0 var(--padding-83xl);
    box-sizing: border-box;
    align-items: flex-start;
    margin-top: -0.69rem;
  }
  .footer,
  .footer-bottom,
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    height: 27.25rem;
    flex-shrink: 0;
    align-items: flex-end;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--main-color);
  }
  .project-list {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 119.69rem;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  