/* start breadcrum */
.th-2- {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem 0;
}
.th-2->div {
  display: flex;
  overflow: scroll;
}
.th-2->div::-webkit-scrollbar {
  display: none;
}
.th-2->div {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.th-2->div span {
  white-space: nowrap;
}

.th-2- img {
  margin-right: 0.4rem;
  width: 20px;
}
/* end breadcrum */
.component-child {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 18rem;
    object-fit: cover;
  }
  .cng-trnh {
    font-weight: 300;
  }
  .cng-trnh-khu-container,
  .m-t-thc,
  .thi-hn-hon {
    align-self: stretch;
    position: relative;
  }
  .m-t-thc,
  .thi-hn-hon {
    font-weight: 300;
  }
  .m-t-thc {
    flex: 1;
  }
  .cng-trnh-khu-vinpearl-nam-h-parent,
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cng-trnh-khu-vinpearl-nam-h-parent {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    gap: var(--gap-mid);
  }
  .rectangle-parent {
    flex-direction: row;
    gap: var(--gap-2xl);
  }
  .m-t-thc1 {
    align-self: stretch;
    position: relative;
    font-weight: 300;
    display: inline-block;
    height: 4.88rem;
    flex-shrink: 0;
  }
  .cng-trnh-khu-vinpearl-nam-h-group {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    align-items: flex-end;
    gap: var(--gap-mid);
  }
  .cng-trnh-khu-vinpearl-nam-h-group,
  .component-parent,
  .rectangle-group {
    display: flex;
    justify-content: flex-start;
  }
  .rectangle-group {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-2xl);
  }
  .component-parent {
    flex-direction: column;
    align-items: center;
    gap: var(--gap-21xl);
    max-width: var(--maxwidth-1200);
    margin: 0 auto;
  }
  .jotun-ngoi-tht {
    color: var(--main-color);
  }
  .crumb-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 0.06rem;
    flex-shrink: 0;
  }
  .crumb,
  .crumb1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .crumb1 {
    align-self: stretch;
    height: 2.25rem;
    flex-shrink: 0;
    gap: var(--gap-xs);
    border-bottom: 1px solid var(--light-silver-bold);
  }
  .crumb {
    max-width: var(--maxwidth-1200);
    margin: var(--breadcrum-top) auto;
  }
  .frame-div {
    align-self: stretch;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    padding: 0 var(--padding-side);
    margin-bottom: var(--margin-top-footer);
  }
  .project-list {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  