@media all and (max-width: 1200px) {  
    :root { 
        --padding-side: 70px;
    } 
}

@media all and (max-width: 992px) {  
    .menu5 {
        align-items: flex-start;
    }
    .frame-parent43 {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.4rem;
    }
    .homepage .homepage-inner {
        margin-top: 2rem;
    }
    .i-l-phn-container {
        font-size: 2rem;
    }
    .banner-parent .frame-wrapper7 {
        padding: 3.44rem 0;
    }
    .frame-parent67 {
        gap: 2rem;
    }
    .fanpage-parent3 {
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .frame-parent67>div,
    .frame-parent69 {
        align-items: center;
    }
    .news-detail-content-parent .news-detail-content {
        flex-direction: column;
    }
    .title-sp-cungloai-parent .group-parent {
        flex-direction: row;
    }
    .news-detail-content .title-sp-cungloai-parent {
        width: 100%;
    }
    .title-sp-cungloai-parent .group-parent {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .thi-cong-son-nha-4-1-parent .thi-cong-son-nha-4-1-icon {
        width: 9rem;
        height: 6rem;
    }
    .rectangle-parent9 .frame-child10 {
        width: 200px;
    }
    .instance-group .frame-parent33 {
        width: calc((100% - var(--gap-search-list) * 2) / 3)
    }
    .wrap-search .product-list__item  {
        width: calc((100% - var(--gap-search-list) * 2) / 3);
    }
    
}
@media all and (max-width: 768px) {  
    :root { 
        --padding-side: 40px;
        --font-size-xl: 1rem;
        --font-size-5xl: 1.25rem;
        --margin-top-footer: 30px;
        --breadcrum-top: 30px;
    }
    .bo-gi-thi-cng-sn-wrapper3 {
        padding: 0.2rem 1rem;
    }
    .banner-parent .wrap-search-product {
        justify-content: center;
    }
    .banner-parent .search-product {
        height: 35px;
        width: 250px;
    }
    .banner-parent .wrap-search-product button {
        height: 35px;
    }
    .banner-parent .group-parent5 {
        margin-top: 30px;
    }
    .group-parent5 .rectangle-parent11, .sn-alex-ngoi4 {
        width: 9.44rem;
        height: 8.69rem;
    }
    .group-parent5 .instance-container {
        height: 19.88rem;
    }
    .group-parent5 .wrap-navigate-slide>div {
        width: 2rem;
        height: 2rem;
    }
    .group-parent5 .frame4 {
        padding: 0.2rem 0.1rem;
    }
    .frame-parent60 .cc-loi-sn-jotun-wrapper {
        font-size: 1.5rem;
    }
    .real-image-list .image-list {
        gap: 4.19rem;
    }
    .frame-parent61 .frame-parent62 {
        height: 23.44rem;
    }
    .image-list .frame-parent61 {
        height: 28.88rem;
    }
    .polygon-parent .price-table-content h3 {
        font-size: 22px;
        line-height: 27px;
        padding: 0.5rem 2rem;
    }
    .homepage .price-table {
        gap: 2.75rem;
        margin: 3rem 0 4rem;
    }
    .polygon-parent .price-table-content {
        margin: 1rem 0;
    }
    .frame-wrapper9 .group-parent9 {
        gap: 1.88rem;
    }
    .frame-parent67>div {
        width: 46%;
        min-width: 200px;
    }
    .cty-trch-nhim-hu-hn-bqsoft-parent .cty-trch-nhim {
        font-size: 1.5rem;
    }
    .about-company-content .frame-parent8 {
        flex-direction: column;
    }
    .frame-parent8 .frame-item {
        width: 100%;
    }
    .group-parent .rectangle-container {
        width: 100%;
    }
    .rectangle-container .group-container {
        width: 100%;
    }
    .group-container .sn-jotun-cht-lng-vt-tri-parent {
        width: 100%;
        justify-content: flex-end;
    }
    .cng-ngh-cht-to-mu-tin-ti-parent .cng-ngh-cht {
        font-size: 1.5rem;
    }
    .component-group .frame-wrapper {
        width: 100%;
    }
    .rectangle-parent .component-child {
        height: 14rem;
    }
    .instance-group .frame-parent33 {
        width: calc((100% - var(--gap-search-list)) / 2)
    }
    .wrap-search .product-list__item  {
        width: calc((100% - var(--gap-search-list)) / 2);
    }
    .paint-detail-content .rectangle-parent9 {
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 576px) {  
    :root { 
        --padding-side: 20px;
        --font-size-5xl: 1rem;
    }
    .top-menu5 {
        justify-content: flex-end;
    }
    .frame-parent41 {
        display: none;
    }
    .frame-parent43 {
        display: none;
    }
    .cung-cp-sn {
        font-size: 0.8rem;
    }
    .homepage .homepage-inner {
        margin-top: 20px;
    }
    .cc-loi-sn-jotun-wrapper .cc-loi-sn-1 {
        font-size: 1.2rem;
    }
    .image-list .instance-parent4 {
        margin-top: -2rem;
    }
    .instance-parent4 .mt-s-hnh {
        font-size: 0.8rem;
    }
    .frame-parent61 .frame-parent62 {
        height: 14.44rem;
    }
    .image-list .frame-parent61 {
        height: 17.88rem;
    }
    .polygon-parent .price-table-content h3 {
        font-size: 19px;
        line-height: 22px;
        padding: 0.5rem 1rem;
    }
    .frame-parent60 .cc-loi-sn-jotun-wrapper {
        font-size: 1rem;
    }
    .frame-parent67 {
        flex-direction: column;
        align-items: center;
    }
    .frame-parent67>div {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        gap: 0.5rem;
    }
    .frame-parent69 {
        gap: 0.2rem;
    }
    .thi-cong-son-nha-4-1-parent .thi-cong-son-nha-4-1-icon {
        width: 8rem;
        height: 5rem;
    }
    .rectangle-parent9 .frame-child10 {
        width: 50%;
    }
    .component-parent .rectangle-parent {
        flex-direction: column;
    }
    .component-parent .rectangle-parent:nth-child(2n) {
        flex-direction: column-reverse;
    }
    .rectangle-parent .component-child {
        width: 100%;
    }
    .price-table .real-image-list {
        height: max-content;
    }
    .real-image-list .image-list {
        height: max-content;
    }
    .image-list .frame-parent61 {
        height: max-content;
        gap: 1rem;
    }
    .frame-parent61 .frame-parent62 {
        width: 100%;
        height: max-content;
    }
    .frame-parent62 .rectangle-parent31 {
        flex-direction: column;
        height: max-content;
    }
    .rectangle-parent31 .frame-parent63 {
        height: max-content;
        width: 100%;
    }
    .frame-parent63 .rectangle-parent32 {
        height: max-content;
        flex-direction: column;
    }
    .frame-parent62 .frame-parent64 {
        height: max-content;
        flex-direction: column;
    }
    .frame-parent64 .rectangle-parent34 {
        flex-direction: column;
        width: 100%;
    }
    .frame-parent62 img {
        width: 100%;
        height: 200px !important;
        flex: auto;
    }
    .not-found {
        padding: 6rem 0 !important;
    }
    .not-found div h1 {
        font-size: 7rem !important;
    }
    .result-empty {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 440px) { 
    :root { 
        --padding-side: 14px;
        --breadcrum-top: 28px;
    }
    .menu5 {
        align-items: center;
    }
    .logo-header {
        font-size: 2rem;
    }
    .paint-category-title {
        padding: 0 0.5rem;
    }
    .rectangle-parent10-inner .paint-category-title {
        padding: 0 0.3rem;
    }
    .group-parent5 .vector-parent {
        height: 3rem;
    }
    .vector-parent .rectangle-parent10 {
        width: 100%;
    }
    .vector-parent .category-right-head {
        width: 0;
    }
    .image-list .instance-parent4 {
        padding: 0.5rem 1rem;
    }
    .group-parent5 .instance-container {
        height: 15.88rem;
    }
    .group-parent5 .rectangle-parent11, .sn-alex-ngoi4 {
        height: 7.69rem;
    }
    .carousel .carousel-content {
        height: 100%;
    }
    .wrap-navigate-slide {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        justify-content: space-between !important;
        padding: 0 0.5rem;
        z-index: 5;
    }
    .website-c-thit-k-bi-cty-wrapper3 {
        font-size: 0.8rem;
        height: 2rem;
    }
    .btn-phone-call {
        width: 3rem;
        height: 3rem;
    }
    .cty-trch-nhim-hu-hn-bqsoft-parent .cty-trch-nhim {
        font-size: 1.2rem;
    }
    .rectangle-parent9 .frame-child10 {
        height: 200px;
    }
    .instance-group .frame-parent33 {
        width: 100%;
    }
    .wrap-search .product-list__item  {
        width: 100%;
    }
}
